@font-face {
    font-family: "iconfont"; /* Project id 2887881 */
    src: url('//at.alicdn.com/t/font_2887881_yk469pvpz.woff2?t=1634969752799') format('woff2'),
         url('//at.alicdn.com/t/font_2887881_yk469pvpz.woff?t=1634969752799') format('woff'),
         url('//at.alicdn.com/t/font_2887881_yk469pvpz.ttf?t=1634969752799') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-liebiao:before {
    content: "\e600";
  }
  